{
    "extends": ["stylelint-config-standard"],
    "plugins": ["stylelint-scss", "stylelint-order"],
    "rules": {
        "alpha-value-notation": "number",
        "at-rule-no-unknown": null,
        "color-function-notation": null,
        "import-notation": null,
        "no-descending-specificity": null,
        "no-invalid-position-at-import-rule": [
            true,
            {
                "ignoreAtRules": ["use"]
            }
        ],
        "order/properties-alphabetical-order": true,
        "scss/at-rule-no-unknown": true
    }
}
